.render-engine-container {
  height: 100%;
  overflow: auto;
  scrollbar-gutter: stable;

  &.light-theme-render-engine-container {
    background-color: @dashboard-light-theme-bg-color;
  }

  &.dark-theme-render-engine-container {
    background-color: @dashboard-dark-theme-bg-color;
  }

  .board-container {
    width: 100%;

    .components-container {
      padding: 0 10px;
      width: 100%;
      flex: 1;
    }
  }

  .page-no-data {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #808080;
  }
}
