.dashboard-layout {
  min-height: 100vh !important;

  .dashboard-header {
    padding: 0 30px 0 0;
    height: @dashboard-header-height;
    display: flex;
    align-items: center;
    z-index: 99;

    &.light-theme-dashboard-header {
      background-color: @light-theme-header-bg-color;
    }

    &.dark-theme-dashboard-header {
      background-color: @dark-theme-header-bg-color;
      box-shadow: 0px 2px 10px @dashboard-dark-theme-border;
    }

    .dashboard-operator-exit {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 50px;
      height: 100%;
      border-right: 1px solid hsla(0, 0%, 100%, .2);

      .dashboard-operator-exit-icon {
        width: 20px;
        height: 20px;
        font-size: 20px;
        color: hsla(0, 0%, 100%, .65);
        cursor: pointer;
      }
    }

    .dashboard-header-right {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex: 1;
      font-size: 16px;

      h1 {
        color: @dashboard-title-color;
        margin: 0 0 0 14px;
        width: 356px;
        height: 40px;
        line-height: 40px;
        font-size: 20px;
        font-weight: 400;
      }

      ul {
        height: 40px;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;

        li {
          height: 100%;
          color: @dashboard-chart-icon-color;
          list-style: none;
          margin-right: 20px;
          cursor: pointer;
          display: flex;
          align-items: center;

          &:last-child {
            margin-right: 0;
          }

          .widget-add-button {
            font-size: 24px;
          }
        }
      }
    }

    .dashboard-operator {
      height: 32px;
      font-size: 16px;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;

      .switch-buttons {
        overflow: hidden;
        height: 32px;
        border-radius: 16px;
        position: relative;
        margin-right: 210px;

        &.light-theme-switch-buttons {
          background-color: @dashboard-light-deep-bg-color;
          box-shadow: inset 0 0 0 2px @dashboard-light-deep-bg-color;

          li {
            &.switch-buttons-mark {
              background-color: rgba(196, 211, 255, .2);
            }
          }
        }

        &.dark-theme-switch-buttons {
          background-color: #333333;
          box-shadow: inset 0 0 0 2px #333333;

          li {
            &.switch-buttons-mark {
              background-color: rgba(194, 194, 194, .2);
            }
          }
        }

        li {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100%;
          width: 90px;
          margin: 0;
          font-size: 14px;
          color: hsla(0, 0%, 100%, .3);

          &.active {
            color: @dashboard-main-text-color;
          }

          &:hover {
            color: @dashboard-main-text-color;
          }

          &.switch-buttons-mark {
            position: absolute;
            height: 28px;
            right: 88px;
            border-radius: 14px;
            transition: .2s ease-in-out;
            box-shadow: 0 2px 4px #00230b33;
          }

          &.edit-buttons-mark {
            right: 88px;
          }

          &.preview-buttons-mark {
            right: 2px;
          }
        }
      }

      .dashboard-operator-save {
        width: 88px;
        position: absolute;
        right: 0;
        top: calc(50% - 16px);
      }
    }
  }

  .dashboard-content {
    max-width: 100%;
    overflow: hidden;
  }
}

.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}