.dashborad-layout {
  min-height: 100vh !important;

  .dashborad-header {
    padding: 0 30px 0 0;
    height: @dashboard-header-height;
    display: flex;
    align-items: center;
    background: #000000;

    .dashborad-operater-exit {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 50px;
      height: 100%;
      border-right: 1px solid hsla(0, 0%, 100%, .2);

      .dashborad-operater-exit-icon {
        width: 20px;
        height: 20px;
        font-size: 20px;
        color: hsla(0, 0%, 100%, .65);
        cursor: pointer;
      }
    }

    .dashborad-header-right {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex: 1;
      font-size: 16px;

      h1 {
        color: @dashboard-title-color;
        margin: 0 0 0 14px;
        width: 350px;
        height: 40px;
        line-height: 40px;
        font-size: 20px;
        font-weight: 400;
      }

      ul {
        height: 40px;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;

        li {
          height: 100%;
          color: @dashboard-chart-icon-color;
          list-style: none;
          margin-right: 20px;
          cursor: pointer;
          display: flex;
          align-items: center;

          &:last-child {
            margin-right: 0;
          }

          .widget-add-button {
            font-size: 24px;
          }
        }
      }
    }

    .dashborad-operater {
      font-size: 16px;
      position: relative;

      .switch-buttons {
        overflow: hidden;
        background-color: @dashboard-deep-bg-color;
        height: 26px;
        border-radius: 15px;
        position: relative;
        margin-right: 118px;

        li {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100%;
          width: 90px;
          margin: 0;
          font-size: 14px;
          color: hsla(0, 0%, 100%, .3);

          &.active {
            color: @dashboard-main-text-color;
          }

          &:hover {
            color: @dashboard-main-text-color;
          }

          &.switch-buttons-mark {
            position: absolute;
            right: 90px;
            background-color: rgba(196, 211, 255, .2);
            border-radius: 15px;
            transition: .2s linear;
          }

          &.edit-buttons-mark {
            right: 90px;
          }

          &.preview-buttons-mark {
            right: 0;
          }
        }
      }

      .dashborad-operater-save {
        width: 88px;
        position: absolute;
        right: 0;
        top: calc(50% - 16px);
      }
    }
  }

  .dashborad-content {
    max-width: 100%;
    overflow: hidden;
  }
}

.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}