
.custom-card-wrapper {
  width: 100%;
  flex: 1;

  &.in-search {
    overflow: hidden;
  }

  &.list-empty {
    .dark-spin-nested-loading,
    .light-spin-nested-loading,
    .ant-spin-nested-loading {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .custom-card {
    height: 100%;

    .card-info {
      margin: 8px 0 !important;

      .card-info-container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .card-info-title {
          max-width: 65%;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }
      }

      .description {
        height: 45px;
        margin-bottom: 10px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
      }

      .update-user, .update-time {
        text-align: right;
      }
    }

    .dark-spin-nested-loading,
    .light-spin-nested-loading,
    .ant-spin-nested-loading {
      height: 100%;

      .dark-spin,
      .light-spin,
      .ant-spin {
        max-height: none;
      }
    }
  }
}
