.home-container {
  height: 100%;

  .dashboard-list-card {
    height: 100%;

    .space-select {
      width: 200px;
    }

    .list-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      height: calc(100% - 32px);
      padding: 0 24px;
      margin: 16px 0;
      overflow: auto;

      .tips {
        width: 100%;
        position: sticky;
        top: 0;
        margin-bottom: 16px;
        z-index: 9;

        .ant-collapse-header {
          padding: 8px 16px;
        }
      }

      .list-empty {
        .ant-spin-nested-loading {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}
