@dashboard-label-color: #E3E0E0;
@dashboard-chart-icon-color: #FFFFFF;
@dashboard-title-color: #FFFFFF;
@dashboard-main-text-color: #FFFFFF;
@dashboard-tint-bg-color: #3E4860;
@dashboard-deep-bg-color: #2C3551;
@dashboard-blue: #5677FC;
@dashboard-gray: #D9D9D9;

@dashboard-header-height: 56px;
@dashboard-setter-padding: 24px 12px;