@dashboard-label-color: #E3E0E0;
@dashboard-chart-icon-color: #FFFFFF;
@dashboard-title-color: #FFFFFF;
@dashboard-main-text-color: #FFFFFF;
@dashboard-light-tint-bg-color: #3E4860;
@dashboard-light-deep-bg-color: #2C3551;
@dashboard-dark-tint-bg-color: #262626;
@dashboard-dark-deep-bg-color: #141414;
@dashboard-blue: #5677FC;
@dashboard-gray: #D9D9D9;

@dashboard-header-height: 56px;
@dashboard-setter-padding: 24px 12px;

@dashboard-light-theme-bg-color: transparent;
@dashboard-dark-theme-bg-color: #303030;
@light-theme-deep-bg-color: #ffffff;
@dark-theme-deep-bg-color: #141414;
@light-theme-tint-bg-color: #F8F8FA;
@dark-theme-tint-bg-color: #1f1f1f;
@dashboard-border-light: #D9D9D9;
@dashboard-border-dark: #303030;
// #3E4860
// #2C3551

// #1d1d1d // 表头颜色
// #141414 // 黑色背景
// #1f1f1f // 半层次背景
// #262626 hover
// #303030 border
// #434343
// #242525


// #bde8ff(0)   // #bae7ff      // #f0f5ff
// #94d6ff      // #91d5ff      // #d1dfff
// #67baf5(0)   // #69c0ff      // #a8bfff
// #3c9be8      // #40a9ff      // #809dff
// #177ddc      // #1890ff      // #5677fc
// #095cb5      // #096dd9      // #3e57d6
