.table-setting-container {
  height: 100%;

  .table-setting {
    display: none;
  }

  .table-data-setting {
    height: 100%;
    display: block;
  }

  .table-style-setting {
    height: 100%;
    padding: @dashboard-setter-padding;
    display: block;
    overflow: auto;

    .item-title {
      margin-bottom: 15px;
    }

    .item-unit {
      padding-left: 12px;
    }

    .ant-form-item {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
