.preview-container {
  height: 100%;
  background: #f0f2f5;
  padding-top: 10px;

  .ant-spin-nested-loading {
    height: 100%;

    .ant-spin {
      max-height: none;
    }

    .ant-spin-container {
      height: 100%;
    }
  }
}
